@use "sass:list";
@use '@/styles/variables' as variables;
@use '@/styles/skeletonAnimation' as *;
@include ShiverAnimation;

.user {
  width: 100%;
  max-width: 375px;
  height: 32px;
}

.photo {
  width: 100%;
  height: 75dvh;
  margin: 24px auto;
}

.about {
  height: 75px;
  margin-bottom: 12px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tag {
  height: 36px;
  border-radius: 6px;
  $widths: 120px, 90px, 146px, 110px, 160px, 130px, 100px, 200px;
  $count: list.length($widths);

  @for $i from 1 through $count {
    &:nth-child(#{$count}n + #{$i}) {
      width: list.nth($widths, $i);
    }
  }
}

